@page "/chat"
@inject NavigationManager NavigationManager
@inject ChatService chatService;
@using Microsoft.AspNetCore.SignalR.Client;
@using System.Net.Http.Headers
@using DiscordDomain.Models
@using System.Collections.Concurrent
@attribute [StreamRendering]
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime js
@inject IConfiguration config

<CreateGroup @ref="createGroupmodal">

</CreateGroup>

<Modal @ref="modal" Title="Звонок">
    <BodyTemplate>
        
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Danger" hidden="@IsGetCall" @onclick="UnTakeOffer">Закрыть</Button>
        <Button Color="ButtonColor.Success" hidden="@IsGetCall" @onclick="TakeOffer">Сохранить</Button>
    </FooterTemplate>
</Modal>

<AuthorizeView>
<Authorized>
    <section class="gradient-custom">
        <div class="container py-5">

            <div class="row">

                <div class="col-md-6 col-lg-5 col-xl-5 mb-4 mb-md-0">

                    <h5 class="font-weight-bold mb-3 text-center text-white">Member</h5>

                    <div class="card mask-custom">
                        <div class="card-body">
                        <div class="chat-container-reverse">
                            <ul class="list-unstyled mb-0">
                                <li class="p-2 border-bottom" style="border-bottom: 1px solid rgba(255,255,255,.3) !important;">
                                    <a class="d-flex justify-content-between link-light" @onclick="ShowModal">
                                        <div class="d-flex flex-row">
                                            <img src="/PictureStorage/GroupPicture.jpg"
                                                class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                                                <div class="pt-1">
                                                    <p class="fw-bold mb-0 text-dark" style="">Создать группу</p>        
                                                </div>
                                        </div>
                                    </a>
                                </li>
                            @if(chats != null)
                            {
                                @foreach (var item in chats)
                                {
                                    <li class="p-2 border-bottom" style="border-bottom: 1px solid rgba(255,255,255,.3) !important;">
                                        <a class="d-flex justify-content-between link-light" @onclick="() => FocusChange(item)">
                                            <div class="d-flex flex-row">
                                                <img src="@item.PicturePath" alt="avatar"
                                                     class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                                                <div class="pt-1">
                                                    <p class="fw-bold mb-0 text-dark" style="">@item.Name</p>
                                                    @if(item.Messages != null && item.Messages.Count > 0)
                                                    {
                                                        <p class="small text-dark">@item.Messages.Last().TextMessage</p>
                                                    }
                                                    else
                                                    {
                                                        <p class="small text-dark">Начните чат</p>
                                                    }
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                }
                            }
                            </ul>
                        </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 col-lg-7 col-xl-7">
                @if (focusChat != null)
                {
                    <div class="d-flex flex-row justify-content-center align-items-center" style="margin-bottom: 50px;">
                        <img src="@focusChat.PicturePath" alt="avatar"
                             class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
                        <div class="pt-1">
                            <p class="fw-bold mb-0 text-dark">@focusChat.Name</p>
                        </div>
                        @if (focusChat.IsGroup)
                        {
                                    
                        }
                        else
                        {
                            <div class="pt-1">
                                <button type="button" class="alert-success" @onclick="() => GetCall(1)">
                                    <img width="25" height="25" margin="25" src="PictureStorage/callPicture.png" />
                                </button>
                                <button type="button" class="alert-success" @onclick="() => GetCall(2)">>
                                    <img width="25" height="25" margin="25" src="PictureStorage/videocall.jpg" />
                                </button>
                            </div>
                        }
                                
                    </div>
                    <div id="scrollContainer" class="chat-container">
                    <ul class="list-unstyled text-white">

                        @if (focusChat == null || focusChat.Messages == null || focusChat.Messages.Count == 0)
                        {
                            <div class="card-body" style="text-align: center;">
                                <p class="mb-5">
                                    Начните Общение
                                </p>
                            </div>
                        }
                        else
                        {
                            foreach (var message in focusChat.Messages)
                            {
                                if (message.UserId == userId)
                                {
                                    <li class="d-flex justify-content-start mb-4">
                                        <div class="card mask-custom">
                                            <div class="card-header d-flex justify-content-between p-3"
                                                 style="border-bottom: 1px solid rgba(255,255,255,.3);">
                                                <p class="fw-bold mb-0">Me</p>
                                                <p class="text-light small mb-0"><i class="far fa-clock"></i> @* 12 mins ago *@</p>
                                            </div>
                                            <div class="card-body">
                                                <p class="mb-0">
                                                    @message.TextMessage
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li class="d-flex justify-content-end mb-4">
                                        <div class="card mask-custom">
                                            <div class="card-header d-flex justify-content-between p-3"
                                                 style="border-bottom: 1px solid rgba(255,255,255,.3);">
                                                <p class="fw-bold mb-0">@message.UserName</p>
                                                <p class="text-light small mb-0"><i class="far fa-clock"></i> @* 12 mins ago *@</p>
                                            </div>
                                            <div class="card-body">
                                                <p class="mb-0">
                                                    @message.TextMessage
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                }
                            }
                        }
                        <div class="flex-container">
                            <input type="search" class="form-control rounded" placeholder="" aria-label="Search" aria-describedby="search-addon" @bind=message/>
                            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-light btn-lg btn-rounded float-end" @onclick="@SendMessage">Send</button>
                        </div>
                    </ul>
                    </div>
                    }
                </div>

            </div>

        </div>
    </section>
</Authorized>
</AuthorizeView>


@code
{
    private bool IsAuthorized = false;
    private string token { get; set; }
    private ConcurrentQueue<ChatDto> chats { get; set; }
    private ChatDto focusChat { get; set; }
    private Guid userId { get; set; }
    private string message { get; set; }
    private Modal modal;
    private string inputValue;
    private Guid senderId;
    private bool IsGetCall = false;
    private int typeCall = 0;
    private CreateGroup createGroupmodal;
    private IJSObjectReference? _module;


    protected override async void OnInitialized()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var token = authState.User.FindFirst(ClaimTypes.Sid)?.Value;

        if (token == null)
        {
            return;
        }

        IsAuthorized = true;

        token = token.ToString();

        using (var httpClient = new HttpClient())
        {
            httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);

            var result = await httpClient.GetAsync($"{config["ServerApi:BaseUrl"]}/Chat/GetAllMessage");

            if (result.IsSuccessStatusCode)
            {
                var list = JsonConvert.DeserializeObject<List<ChatDto>>(await result.Content.ReadAsStringAsync())!;
                chats = new ConcurrentQueue<ChatDto>(list.OrderByDescending(_ => _.ModifiedTime).ToList());

                if (chats != null && chats.Count > 0)
                {
                    focusChat = chats.First();
                }

                userId = Guid.Parse(authState.User.FindFirst(ClaimTypes.NameIdentifier)!.Value);
            }
        }

        chatService.OnUnTakeOfferReceived += OnUnTakeOfferReceived;
        chatService.OnMessageReceived += OnMessageReceived;
        chatService.OnGetCallReceived += OnGetCallReceived;
        chatService.OnOfferCallReceived += OnOfferCallReceived;
        chatService.OnCreateChatReceived += OnCreateChatReceived;

        createGroupmodal.ClosedModal += HideModal;
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!IsAuthorized)
        {
            NavigationManager.NavigateTo("/auth");
            return;
        }

        _module = await js.InvokeAsync<IJSObjectReference>(
            "import", "/PictureStorage/js/Chat.js");
        await _module.InvokeVoidAsync("scrollToBottom");

        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

        if(QueryHelpers.ParseQuery(uri.Query).TryGetValue("usrToken", out var newToken))
        {
            token = newToken.ToString();
        }

        await base.OnAfterRenderAsync(firstRender);
    }


    private void FocusChange(ChatDto chat)
    {
        focusChat = chat;
        StateHasChanged();
    }

    private async void SendMessage()
    {
        if (focusChat != null && !string.IsNullOrEmpty(message))
        {
            var hub = chatService.GetHub(userId);
            await hub.InvokeAsync("Send", message, userId, focusChat.RelationshipId);
            message = string.Empty;
            await InvokeAsync(StateHasChanged);
        }
    }

    private async void GetCall(int typeCall)
    {
        if(focusChat != null)
        {
            IsGetCall = true;
            inputValue = "Ожидание подключение";
            await chatService.GetHub(userId).InvokeAsync("OfferCall", focusChat.RelationshipId, userId, typeCall);
            await modal.ShowAsync();
            this.typeCall = typeCall;
        }
    }

    private async Task OnMessageReceived(string message, Guid userSendId, Guid chatId, HistoryMessage historyMessage)
    {
        try
        {
            var chat = chats.FirstOrDefault(_ => _.RelationshipId == chatId);
            var s = userId;

            if (chat != null)
            {
                if (chat.Messages != null)
                {
                    chat.Messages.Enqueue(historyMessage);
                    chat.ModifiedTime = DateTime.Now;
                }
                else
                {
                    chat.Messages = new System.Collections.Concurrent.ConcurrentQueue<HistoryMessage>();
                    chat.Messages.Enqueue(historyMessage);
                    chat.ModifiedTime = DateTime.Now;
                }

                var chatNew = new List<ChatDto>(chats.OrderByDescending(_ => _.ModifiedTime).ToList());

                await InvokeAsync(() =>
                {
                    chats = new ConcurrentQueue<ChatDto>(chatNew);
                    this.StateHasChanged();
                });
            }
        }
        catch (Exception ex)
        {
        }
    }

    private async Task OnOfferCallReceived(Guid senderId, Guid relationShipId, int typeCall)
    {
        this.senderId = senderId; 
        var name = chats.First(_ => _ != null && _.RelationshipId == relationShipId).Name;
        inputValue = typeCall == 1 ? $"Вам пришел аудизвонок с {name}" :  $"Вам пришел видеозвонок с {name}";
        await modal.ShowAsync();
        this.typeCall = typeCall;
    }

    private async Task OnUnTakeOfferReceived()
    {
        await modal.HideAsync();
        inputValue = "Клиент не принял звонок";
        IsGetCall = true;
        await Task.Delay(1000);
        await modal.ShowAsync();
        IsGetCall = false;
    }

    private void OnGetCallReceived(string room)
    {
        NavigationManager.NavigateTo($"call/{room}?typeCall={typeCall}");
    }

    private async void UnTakeOffer()
    {
        await chatService.GetHub(userId).InvokeAsync("UnTakeOffer", senderId);
        await modal.HideAsync();
    }

    private async void TakeOffer()
    {
        var room = Guid.NewGuid().ToString();
        await chatService.GetHub(userId).InvokeAsync("TakeOffer", room, senderId, userId);
    }

    private async Task ShowModal()
    {
        await createGroupmodal!.ShowAsync();
    }

    private async Task HideModal(ChatDto chat, List<Guid> userIds)
    {
        chats.Enqueue(chat);
        chats = new ConcurrentQueue<ChatDto>(chats.ToList().OrderByDescending(_ => _.ModifiedTime));

        await chatService.GetHub(userId).SendAsync("CreateChat", chat.Name, chat.PicturePath, userIds, chat.RelationshipId);
        StateHasChanged();
    }

    private void OnCreateChatReceived(string name, string picturePath, Guid chatId)
    {
        chats.Enqueue(new ChatDto()
        {
            RelationshipId = chatId,
            Name = name,
            PicturePath = picturePath,
            ModifiedTime = DateTime.UtcNow,
            IsGroup = true
        });

        chats = new ConcurrentQueue<ChatDto>(chats.ToList().OrderByDescending(_ => _.ModifiedTime));
        InvokeAsync(StateHasChanged);
    }
}

<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #fccb90;
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to bottom right, rgba(252, 203, 144, 1), rgba(213, 126, 235, 1));
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to bottom right, rgba(252, 203, 144, 1), rgba(213, 126, 235, 1))
    }
    .flex-container {
        display: flex;
        align-items: center;
    }
    .mask-custom {
        background: rgba(24, 24, 16, .2);
        border-radius: 2em;
        backdrop-filter: blur(15px);
        border: 2px solid rgba(255, 255, 255, 0.05);
        background-clip: padding-box;
        box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    }

    .mask-custom-ьу {
        background: rgba(102, 178, 255, .2);
        border-radius: 2em;
        backdrop-filter: blur(15px);
        border: 2px solid rgba(255, 255, 255, 0.05);
        background-clip: padding-box;
        box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    }

    .chat-container {
        max-height: 60vh;
        overflow-y: auto;
        padding-right: 10px;
    }

    .chat-container-reverse {
        max-height: 60vh;
        overflow-y: auto;
        padding-right: 10px;
    }
</style>
